<!DOCTYPE html>
<html lang="\{\{request.locale_name\}\}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Yasa project</title>
    <link rel="shortcut icon" href="\{\{request.static_url('{{pakage}}:static/favicon.ico')\}\}">
    <link rel="stylesheet" href="\{\{request.static_url('{{pakage}}:static/styles/libs.css')\}\}">
    <link rel="stylesheet" href="\{\{request.static_url('{{pakage}}:static/styles/styles.css')\}\}">
  </head>
  <body dir="\{\{request.locale_dir\}\}">
    <header id="header-region"></header>
    <main id="main-region"></main>
    <footer id="footer-region"></footer>
    <script type="text/javascript" src="\{\{request.static_url('{{pakage}}:static/scripts/scripts.js')\}\}"></script>
  </body>
</html>
