| {% extends main_template %}
| {% block title %} {% trans %} 403 Access Denied {% endtrans %} {% endblock %}
| {% block content %}
div
    h2 {% trans %} 403 Access Denied {% endtrans %}
    p
        | {% trans %} Message of Access Denied {% endtrans %}
| {% endblock %}
