| {% extends main_template %}
| {% block title %} {% trans %} 404 Page Not Found {% endtrans %} {% endblock %}
| {% block content %}
div
    h2 {% trans %} 404 Page Not Found {% endtrans %}
    p
        | {% trans %} Message of Page Not Found {% endtrans %}
| {% endblock %}
